/* General ********************************************************************/
* {
    box-sizing: border-box;
    
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial,
        sans-serif; 
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-height: 100vh;

    background-clip: padding-box;
    background-image: url("./sky-background-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

input, select, button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="radio"] {
    position: relative;

    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

input[type="radio"]:checked::before {
    content: "";

    position: absolute;
    top: 3.5px;
    left: 3.5px;

    width: 12px;
    height: 12px;
    border-radius: 50%;

    background-color: black;
}

/* Header *********************************************************************/
header {
    height: 10vh;
    padding: 15px 0;

    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;

    font-size: 3rem;
}

/* Main ***********************************************************************/
main {
    width: 100%;
    padding: 10px 0;
}

/* weather form */
#weather-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    margin: 0 auto;
    width: 70%;
}

.weather-form-unit {
    display: inline-block;
    position: relative;

    width: 60px;
    height: 34px;

    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
}

.weather-form-unit-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.weather-form-unit-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* background-color: #CCCCCC; */
    background-color: #21F296;

    -ms-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    cursor: pointer;
}

.weather-form-unit-slider::before {
    position: absolute;
    bottom: 4px;
    left: 4px;

    content: "";

    width: 26px;
    height: 26px;

    background-color: #FFFFFF;

    -ms-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.weather-form-unit-checkbox:checked + .weather-form-unit-slider {
    background-color: #2196F3;
}

.weather-form-unit-checkbox:focus + .weather-form-unit-slider {
    box-shadow:
        0 0 4px #2196F3,
        0 0 6px #2196F3,
        0 0 8px #2196F3;
}

.weather-form-unit-checkbox:not(:checked) + .weather-form-unit-slider:before {
    content: "Me";
}

.weather-form-unit-checkbox:checked + .weather-form-unit-slider:before {
    content: "Im";

    -ms-transform: translateX(26px);
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.weather-form-unit-slider {
    border-radius: 34px;
}

.weather-form-unit-slider:before {
    line-height: 24px;
    border-radius: 50%;
}

.weather-form-location {
    width: 400px;
    height: 40px;
    border-radius: 6px;
    padding: 4px 10px;

    font-size: 1.2rem;
}

.weather-form-submit {
    width: 100px;
    height: 40px;
    border: 2px solid steelblue;
    border-radius: 6px;

    background-color: lightsteelblue;

    color: #343434;
    font-size: 1.2rem;
}

/* current weather data container */
#weather-current {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

/* current weather data header row */
.weather-current-header {

}

.weather-current-location {
    margin: 20px 0 0;
    padding: 0;


    font-size: 2.8rem;
}

.weather-current-date {
    margin: 10px 0;
    padding: 0;

    font-size: 1.2rem;
}

/* current weather data main row */
.weather-current-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-current-temperature {
    flex: 3 0 0;

    font-size: 2.5rem;
}

.weather-current-celestial {
    flex: 3 0 0;

    /* margin: 0 auto; */
    width: 200px;
}

.weather-current-icon {
    /* display: block; */
    /* margin: 0 auto; */
    
    width: 240px;
    height: 240px;
}

.weather-current-sun-time {
    display: flex;
    justify-content: center;
    gap: 144px;
}

.weather-current-sun {
    margin: 6px 0 0 0;
    padding: 0;

    font-size: 1.3rem;
    text-decoration-color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;

    cursor: pointer;
}

.weather-current-sunrise {

}

.weather-current-sunset {

}

.weather-current-conditions {
    flex: 3 0 0;
    font-size: 2rem;
}

/* current weather data footer row */
.weather-current-footer {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 40px;
    font-size: 1.1rem;
}

.weather-current-footer > * {
    width: 25%;
}

.weather-current-uv-index-value {
    text-decoration-color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dotted;

    cursor: pointer;
}

.weather-current-moon-phase-value {
    text-decoration-color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dotted;

    cursor: pointer;
}

/* future weather data footer row */
#weather-future-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;

    margin: 40px auto;
    width: 80%;
}

.weather-future-article {
    border: 1px solid darkblue;
    border-radius: 4px;
    width: 180px;
    height: 180px;

    background-color: white;
    background-color: aliceblue;
    background: rgba(240, 240, 240, 0.3);
}

.weather-future-day {
    /* margin: 0; */
    text-align: center;
}

.weather-future-icon {
    display: block;

    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.weather-future-temperature {
    text-align: center;
}

.weather-future-conditions {
    font-size: 0.9rem;
    text-align: center;
}

/* Footer *********************************************************************/
footer {

}
